<div class="post-meta">
  <span class="post-meta-item">
    <span class="i-mdi-calendar-blank inline-icon"></span>
    <span class="post-meta-item-text">{{ i18n "posted" }}</span>
    <time title="{{ i18n "created" }}：{{ .Date.Format "2006-01-02 15:04:05" }}" itemprop="dateCreated datePublished"
      datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time>
  </span>

  {{- if gt (sub .Lastmod.Unix .Date.Unix) 86400 }}
  <span class="post-meta-item">
    <span class="i-mdi-calendar-check inline-icon"></span>
    <span class="post-meta-item-text">{{ i18n "edited" }}</span>
    <time title="{{ i18n "modified" }}：{{ .Lastmod.Format "2006-01-02 15:04:05" }}" itemprop="dateModified"
      datetime="{{ .Lastmod }}">{{ .Lastmod.Format "2006-01-02" }}</time>
  </span>
  {{- end }}

  {{- with (.GetTerms "categories") }}
  <span class="post-meta-item">
    <span class="i-mdi-folder-outline inline-icon"></span>
    <span class="post-meta-item-text">{{ i18n "in" }}</span>
    {{- range $id, $val := . }}
    {{ if $id }}/{{ end -}}
    <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
      <a href="{{ $val.Permalink }}" itemprop="url" rel="index"><span itemprop="name">{{ $val.LinkTitle }}</span></a>
    </span>
    {{ end }}
  </span>
  {{- end }}

  {{- if and (eq .Kind "page") (eq .Type "posts") .Site.Params.busuanzi_count.enable .Site.Params.busuanzi_count.post_views }}
    <span class="post-meta-item" id="busuanzi_container_page_pv">
      <span class="post-meta-item-icon">
        <div class="{{.Site.Params.busuanzi_count.post_views_icon}} inline-icon"></div>
      </span>
      <span class="post-meta-item-text">{{ i18n "reading_times" }}</span>
      <span id="busuanzi_value_page_pv"></span>
    </span>
  {{- end }}
</div>
