{{ if or .HasPrev .HasNext -}}
<nav class="pagination">
  {{ if .HasPrev -}}
  <a href="{{ .Prev.URL }}" class="extend prev" rel="prev">
    <span class="i-fa-solid-angle-left inline-icon"></span>
  </a>
  {{ end -}}
  {{ range .Pagers -}}
  {{ if eq .PageNumber $.PageNumber -}}
  <span class="page-number current">{{ .PageNumber }}</span>
  {{ else -}}
  <a href="{{ .URL }}" class="page-number">{{ .PageNumber }}</a>
  {{ end -}}
  {{ end -}}
  {{ if .HasNext -}}
  <a href="{{ .Next.URL }}" class="extend next" rel="next">
    <span class="i-fa-solid-angle-right inline-icon"></span>
  </a>
  {{ end -}}
</nav>
{{ end }}
