<div class="post-block">
  <article itemscope itemtype="http://schema.org/Article" class="post-content">
    <link itemprop="mainEntityOfPage" href="{{ .Permalink }}">

    <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="image" content="{{ .Site.Params.avatar }}">
      <meta itemprop="name" content="{{ or .Params.author .Site.Params.author }}">
      <meta itemprop="description" content="{{ or .Params.description .Site.Params.description }}">
    </span>

    <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{ .Site.Title }}">
    </span>

    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">
        {{- .Title }}
      </h1>

      <div class="post-meta-container">
        {{ partial "post/post-meta.html" . }}
      </div>
    </header>

    <div class="post-body" itemprop="articleBody">
      {{ .Content }}
    </div>

    {{ partial "post/post-related" . }}

    <footer class="post-footer">
      <div class="post-end-thank">本文结束 <div class="i-fa-solid-paw inline-icon"></div>
        感谢您的阅读</div>
      {{ partial "post/post-copyright.html" . }}

      <div class="post-tags">
        {{ range (.GetTerms "tags") }}
        <a href="{{ .Permalink }}" rel="tag"><div class="i-mdi-tag inline-icon"></div> {{ .LinkTitle }}</a>
        {{ end }}
      </div>

      {{ if or .PrevInSection .NextInSection }}
      <div class="post-nav">
        <div class="post-nav-item">
          {{ with .PrevInSection }}
          <a rel="prev" href="{{.Permalink}}" title="{{.Title}}"><div class="i-carbon-chevron-left inline-icon"></div> {{.Title}}</a>
          {{ end }}
        </div>
        <div class="post-nav-item">
          {{ with .NextInSection }}
          <a rel="next" href="{{.Permalink}}" title="{{.Title}}">{{.Title}} <div class="i-carbon-chevron-right inline-icon"></div></a>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </footer>
  </article>
</div>
