<div class="search-pop-overlay">
  <div class="popup search-popup">
    <div class="search-header">
      <span class="search-icon">
        <span class="i-fa-solid-search inline-icon"></span>
      </span>
      <div class="search-input-container">
        <input autocomplete="off" autocapitalize="off" maxlength="80" placeholder="搜索..." spellcheck="false"
          type="search" class="search-input">
      </div>
      <span class="popup-btn-close">
        <span class="i-mdi-close-circle inline-icon"></span>
      </span>
    </div>
    <div class="search-result-container no-result">
      <div class="search-result-icon">
        <span class="i-svg-spinners-8-dots-rotate icon-5x"></span>
      </div>
    </div>
  </div>
</div>
